<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.example.esh_ajanda">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="Activities.SplashActivity">



        </activity>
        <activity android:name="Activities.LoginActivity">
        </activity>
        <activity android:name="Activities.ZiyaretlerActivity">
        </activity>
        <activity android:name="Activities.IstatistikActivity">
        </activity>
        <activity android:name="Activities.RandevulerActivity">
        </activity>
        <activity
                android:name="Activities.HastalarActivity"
                android:windowSoftInputMode="stateAlwaysHidden">



        </activity>
        <activity android:name="Activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>





        <receiver android:name="BroadCasts.DenemeBroadCast">

            <intent-filter
            >



                <action  android:name="android.intent.action.ACTION_POWER_CONNECTED"/>









            </intent-filter>
        </receiver>


        <receiver android:name="BroadCasts.BackUpBroadCast">

            <intent-filter
            >

                <action
                        android:name="android.intent.action.ACTION_POWER_CONNECTED"/>

                <action
                        android:name="android.intent.action.DATE_CHANGED"/>




            </intent-filter>
        </receiver>

    </application>

</manifest>